/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
}

/* Reusable card style */
.card {
  @apply bg-white shadow-soft rounded-2xl p-6;
}